header{
    background-color: midnightblue;
    color: blue;
}

body{
    background-color: blue;
    color: black;
}

h1{color: cyan;
}


p{
 color: cyan;
}

ul {
    color:blue;
}

 footer{
    background-color: dodgerblue;
    color:black
 }
